* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	display: grid;
	place-content: center;
	width: 100vw;
	height: 100vh;
	background: linear-gradient(
		128deg,
		rgba(0, 179, 252, 1) 0%,
		rgba(242, 122, 79, 0.9051995798319328) 51%,
		rgba(191, 0, 183, 1) 100%
	);
}

.img_map > h3 {
	text-align: center;
	padding-bottom: 10px;
	text-transform: uppercase;
	font-size: 2rem;
}

.img_map > img {
	box-shadow: 4px 4px 20px black;
	border-radius: 10px;
}

a {
	text-decoration: none;
	color: rgb(10, 28, 29);
	font-size: 24px;
	font-weight: bold;
}

/* CSS 19120201 */
.container {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 30px;
	border-radius: 15px;
	background-color: rgb(219, 219, 219, 0.15);
	box-shadow: 4px 4px 20px rgb(53, 50, 50, 0.7);
}

.img {
	height: 500px;
	box-shadow: 4px 4px 10px rgb(68, 68, 68);
	border-radius: 15px;
}

.info {
	padding-left: 25px;
	word-spacing: 2px;
	line-height: 7.5vh;
	color: rgb(10, 28, 29);
}

.info > h1 {
	font-size: 30px;
}

.info > a:visited {
	text-decoration: none;
}

@media (max-width: 1200px) {
	.container {
		flex-direction: column;
	}

	.info {
		padding-top: 10px;
		line-height: 4vh;
	}

	.info > h1 {
		font-size: 26px;
	}

	.info > a {
		font-size: 26px;
	}
}

@media (max-width: 700px) {
	.container {
		padding: 10px;
	}
	.img {
		height: 400px;
	}
}
